* {
    color: gray;
    transition: color .3s;
}

a {
    text-decoration: none;
}


#content {
    display: flex;
    flex-direction: column;
    padding: 15px 25px 0;
}

#content > h1 {
    margin: 0 0 0 15px;

    font-style: italic;
    font-size: 32px;
    font-weight: normal;
}


#menu {
    list-style-type: none;
    align-self: flex-end;

    margin: 0 0 5px;
}

#menu > li {
    float: left;
    margin-right: 15px;
}

#menu > li > a {
    font-size: 20px;
}


.post {
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
}


.details {
    flex: 1 1 100px;
    margin-right: 10px;
}

.details > h2 {
    margin: 0;
}

.details > h2 > a {
    font-size: 42px;
    color: crimson;
}

.details > p {
    margin-top: 25px;
    font-size: 16px;
}

.details > p > a {
    text-decoration: underline dotted;
    font-weight: bold;
}



.body {
    flex: 3 3 100px;
}

.body > p,
.col > p {
    font-size: 18px;
    line-height: 24px;
}


.x {
    width: 1px;
    align-self: stretch;
    margin-right: 30px;
    background: darkgray;
}


.col-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgray;
}

.col {
    flex: 2 1 auto;
    margin-left: 30px;
    min-width: 260px;
}

.col:first-child {
    margin-left: 0;
}

.col > h3 > a {
    color: black;
    font-size: 32px;
    font-weight: normal;
}


.det > a {
    color: crimson;
    font-size: 18px;
}


#footer {
    font-size: 18px;
    margin-top: 10px;
}

#footer > p > a {
    color: crimson;
    font-weight: bold;
}



#footer > p > a:hover,
.det > a:hover,
.details > h2 > a:hover
{
    color: black;
}


.details > p > a:hover,
.col > h3 > a:hover,
#menu > li > a:hover
{
    color: crimson;
}


@media screen and (max-width: 1000px) {
    .col-container {
        flex-direction: column;
    }

    .col {
        margin-left: 0;
    }
}