table {
    margin: 30px auto 30px;
    table-layout: fixed;
    width: 70%;
    height: 250px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
caption {
    font-size: 20pt;
    text-align: left;
}